:root {
    --font-primary: 'Helvetica', Arial, sans-serif;
    --color-primary: #03bff3;
    --color-blue-light: #03bff3;
    --color-blue-reguler: #03adef;
    --color-gray-light: #e7e6eb;
    --color-gray-dark: #2d3e50;
  }
  
  * {
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  input:focus,
  textarea,
  button {
    outline: 0;
  }
  
  html {
    font-size: 100%;
    height: 100%;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    line-height: 1.4;
    color: var(--color-gray-dark);
    background-color: white !important
  }
  
  a {
    text-decoration: none;
    font-family: 'Helvetica';
    color: var(--color-primary);
  }
  
  .react-phone-number-input__row {
    margin-top:40px;
  }
  
  h1, h2, h3, h4, h5 {
      font-family: 'Helvetica';
      font-weight: normal;
      font-style: normal;
  }
  
  button: {
    font-family: 'Helvetica';
  }
  
  input::placeholder {
    color: #b5b5b5;
  }
  
  input[type="text"]{
    font-family: 'Helvetica';
    font-size: 16px;
  }
  
  label {
    font-family: 'Helvetica';
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Helvetica';
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Helvetica';
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'Helvetica';
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Helvetica';
  }