@font-face {
	font-family: 'Hiragino-kaku-gothic-w3';
	src: url(../src/theme/fonts/hiragino-kaku-gothic-pro-w3.otf);
}

@font-face {
	font-family: 'Hiragino-kaku-gothic-w6';
	src: url(../src/theme/fonts/hiragino-kaku-gothic-pron-w6.otf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
